<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Articles page</title>
    <link href= "../styles/articles.css" rel="stylesheet"/>
</head>
<body>

    <h1>Articles page !</h1>
    <!--Print new articles-->
    <div class="article-section">
        <h2>Newest articles</h2>
        <dv class="articles">
            <% let counter = 0; %>
            <% for(let i=0; i<len_obj; i++) {%> 
                <% if(article[i]['category'] == 'new') { %>
                    <div class="article">
                        <a href="article/<%= article[i]['_id']; %>" class="article-title">
                            <%= article[i]['title']; %>
                        </a>
                        <p class="article-description">
                            <%= article[i]['description']; %>
                        </p>
                        <% counter++; %>
                    </div>
                <% } %>

                <% if(counter == 3) { break; }%>
            <%}%>
        </div>
    </div>

    <div class="article-section">
        <h2>Other articles</h2>
        <dv class="articles">
            <% counter = 0; %>
            <% for(let i=0; i<len_obj; i++) { %>                 
                <% if(article[i]['category'] != 'new') { %>
                    <div class="article">
                        <a href="article/<%= article[i]['_id']; %>" class="article-title">
                            <%= article[i]['title']; %>
                        </a>
                        <p class="article-description">
                            <%= article[i]['description']; %>
                        </p>
                        <% counter++; %>
                    </div>
                <% } %>

                <% if(counter == 6) { break; }%>
            <%}%>
        </div>
    </div>

</body>
</html>